*{
    margin:0px;
    padding:0px;
    box-sizing: border-box; font-family: "Arial", sans-serif;
    color: #b1b1b1;;
    
  } 
  header{
    background-color: #333; justify-content: space-between; align-items: center;
    color:#fff;
    padding: 10px 60px;
    display: flex;
    position: sticky;
    top:0;
    z-index: 100;
  }
  .logo{
    font-size: x-large;
    font-weight: bold;
    padding-left: 27rem;
    text-transform: uppercase;
  }
  .logo a{
      color:#fff;
      text-decoration: none;
  }
  nav{
      display:flex ;
      align-items: center;
  }
  nav ul{
      display: flex;
      align-items: center;
      justify-content: center;
  }
  nav ul li{
      margin-left: 25px;
      list-style: none;
  }
  nav ul li a{
    color:#fff; 
    text-decoration: none;
    font-size: 19px;
    font-weight: bold;
    transition: 0.4s ease;
  }
  nav ul li a:hover {
    color: #666;
  }
  .serach input{
    position: relative;
  }
  .serach input{
    padding: 10px;
    border: none;
    border-radius: 28px;
    background-color: #444;
    color: #fff;
  }
  .serach button{
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;
    border: none;
    border-radius: 20px;
    background-color: #fff;
    color: #444;
    font-weight: bold;
  }
  .hero{
    background-image: #ffb6cf ;
    padding: 70px 68px;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    background-color: #f6ffb6;
  }
 .hero h1{
    font-size: 48px;
    color: #925b28;
  }
 .hero p{
    font-size: 24px;
    color: #333;
    margin-bottom: 30px;
  }
 .main-content{
    background-color: #821010;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
  }
  



 .books{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 40px;
    margin-top: 40px;
  }
 .book{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
 .book img{
    max-width: 100%;
    margin-bottom: 10px;  
  } 
 .book  h3{
    font-size: 24px;
    margin-top: 0px
  }
  .book p{
    margin-top: 5px;
    color:#666 ;
  }
 .btn{
    display: inline-block;
    padding: 12px 30px;
    background-color: #333;
    color: #fff;
    text-decoration: 5px;
    transition: 0.4s ease;
  }
 .btn:hover{
    background-color: #555;
  }
 footer{
    background-color: #262626;
    color: #d5cfda;
    padding: 20px;
    text-align: center;


 }
 .dropdown-option{
  display: none;
  position: absolute;
  overflow: auto;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0px 10px 10px 0px;

 }


  